body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background-color:PINK;
  color: white;
  display: flex;
  direction: row;
  align-items: center;
  justify-content: bottom;
  height: 50vh;
  width: 60vw;
  border: 2px solid black;
  flex-wrap: wrap;
}

.one, .two, .three, .four, .five, .six, .seven {
  background-color: SKYBLUE;
  margin: 5px;
  padding: 10px;
  text-align: center;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border: 1px solid black;
}